*{
    margin: 0;
    padding: 0;
}
html,body,.container,.wrap{
	width: 100%;
	height: 100%;
}

a{
	display: inline-block;
	text-decoration: none;
	color: #000;
}
li{
	list-style: none;
	display: inline-block;
	border-right: 1px solid #000;
}
.clear{
	clear: both;
}
section{
	width: 1300px;
	margin:0 auto;
}

em{
	font-size: 50px;
	height: 100px;
	line-height: 100px;
}

article{
	width: 100%;
	height: 100%;
	background-image: url("../images/10.jpg");
	background-size:100% 720px;
	background-repeat: no-repeat;
	position: relative;
} 


/*表单的样式*/
aside{
	width: 400px;
	height: 450px;
	position: absolute;
	top: 70px;
	right: 100px;
	background-color:#fff9;
	border-radius: 15px;
}
aside em{
	display: block;
	width: 60px;
	height: 60px;
	margin: 0px auto 0px auto;
	overflow-y:hidden;
}
aside em img{
	width: 100%;
	height: 100%;
}
form {
	width: 300px;
	margin: 0 auto;
}
form p{
	position: relative;
	margin-top: 10px;
}
form input{
	padding-left: 50px;
	width: 250px;
	height: 40px;
	border:1px solid #47414133;
	margin-top: 20px;
	border-radius: 10px;
	background-color:rgba(255, 255, 255, 0.82);
	outline: none;
}
form i{
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
}
.name i{
	background-image: url("../images/user1.png");
	background-repeat: no-repeat;
	left: 10px;
	top: 27px;
}
.password i{
	background-image: url("../images/password1.png");
	background-repeat: no-repeat;
	left: 10px;
	top: 29px;
}
button{
	background-color:#00a0e9;
	border:none;
	width: 100%;
	height: 40px;
	letter-spacing: 3px;
	font-size: 20px;
	margin-top: 35px;
	border-radius: 10px;
	color: #fff;
	outline: none;
}
.regist{
	float: left;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	margin-top: 20px;
	width: 130px;
}
.regist a{
	color: red;
}